<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">
                Ember Validation
            </a>
            <ul class="nav">
                <li>
                    {{#link-to "example1"}}Example 1{{/link-to}}
                </li>
                <li>
                    {{#link-to "example2"}}Example 2{{/link-to}}
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="main" class="container">
    {{outlet}}
</div>